th, td{
    border: 1px solid red;;
}
table{
    width: 200px;
    height: 300px;
    border: 5px solid green;
    text-align: center;
}

td:hover{
    background-color: lightcoral;
    color: white;
}

th{
    width: 200px;
    text-align: right;
}
.equal-sign{
    width: 100px;
}